      <div class="container" id="container2" style="width: 90%; margin: 10px;">
        <div class="accordion" id="accordionExample">

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Login
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>

                  <div class="row justify-space-between-md">

                    <div class="login-card">
                      <h2 class="page-title">Login<br></h2>
                      <form class="form login-form">
                        <div class="form-group">
                          <label for="email-login">Email:</label>
                          <input class="form-input" type="text" id="email-login" />
                        </div>
                        <div class="form-group">
                          <label for="password-login">Password:</label>
                          <input class="form-input" type="password" id="password-login" />
                        </div>
                        <div class="form-group">
                          <br>
                          <button class="btn btn-primary" type="submit">login</button>
                          <br><br><br>
                        </div>
                      </form>
                    </div>

                </strong><br>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Sign up
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">

                <strong>
                  <div class="login-card">
                    <h2 class="page-title">Signup<br></h2>
                    <form class="form signup-form">
                      <div class="form-group">
                        <label for="username-signup">Username:</label>
                        <input class="form-input" type="text" id="username-signup" />
                      </div>
                      <div class="form-group">
                        <label for="email-signup">Email:</label>
                        <input class="form-input" type="text" id="email-signup" />
                      </div>
                      <div class="form-group">
                        <label for="password-signup">Password:</label>
                        <input class="form-input" type="password" id="password-signup" />
                      </div>
                      <div class="form-group">
                        <br>
                        <button class="btn btn-primary" type="submit">signup</button>
                        <br><br><br>
                      </div>
                    </form>
                  </div>
              </div>
              </strong><br>

              <script src="./js/login.js"></script>

            </div>
          </div>
        </div>

      </div>
