.upper_part {
  padding-bottom: 30px;
  padding-top: 15px;
}

.main-title{
  font-weight: bold;
  font-family: 'Pathway Gothic One', sans-serif;
}

.card-title{
  font-weight: bold;
}

h2{
  padding-bottom: 25px;
}

.card-header{
  font-weight: bold;
  padding: 15px;
}

.add-product{
  margin-top: 15px;
}

footer{
  margin-top: 65px;
}

.card-img-top{
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 100px;
}

#store_orders {
  display: none;
}

#product_form {
  display: none;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}
#done_button {
  width: 150px;
  height: 50px;
  display: inline;
  padding: 15px

}